<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:targetSdkVersion="33" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="sdk.chat.demo.MainApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GGTheme"
        tools:replace="allowBackup, icon">

        <!--        <activity android:name="sdk.chat.demo.DemoActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!-- 声明语音识别服务 -->
        <meta-data
            android:name="android.speech.RecognitionService"
            android:resource="@xml/speech_recognition_service" />

        <activity
            android:name="sdk.chat.demo.robot.activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="sdk.chat.demo.robot.activities.ChatActivity" />
        <activity android:name="sdk.chat.demo.robot.activities.MainDrawerActivity" />
        <activity android:name="sdk.chat.demo.robot.activities.CozeLoginActivity" />

        <activity android:name="sdk.chat.demo.examples.helper.CustomPostRegistrationActivity" />


        <activity android:name="sdk.chat.demo.robot.activities.SpeechToTextActivity" />

        <activity android:name="sdk.chat.demo.robot.activities.SettingPromptActivity" />

        <activity android:name="sdk.chat.demo.robot.activities.ArticleListActivity" />

        <activity android:name="sdk.chat.demo.robot.activities.FavoriteListActivity" />
        <activity android:name="sdk.chat.demo.robot.activities.ImageViewerActivity" />
        <activity android:name="sdk.chat.demo.robot.activities.SearchActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            tools:replace="android:authorities"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />  <!-- 确保此文件存在 -->
        </provider>
    </application>

</manifest>
